@import 'react-date-range/dist/styles.css'; 
@import 'react-date-range/dist/theme/default.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-main {
  font-family: "Outfit", sherif ;
}

.font-nav {
  font-family: "Quicksand", sherif;
}

@media (max-width: 765px) {
  .header-top {
    height: 13rem;
  }
  .min-h-screen {
    min-height: 8vh;
  }
}

@media (max-width: 991px) {
  .searchbar {
    margin-right: 20px;
  }
}